body{
	background-color: #ffbd69;
	margin: 0;
}

.top{
	 position: relative;
	 text-align: center;
}
.toph1{
	font-family: 'Sacramento', cursive;
	font-size: 52px;
	margin: 100px auto 0px; 
	padding-top: 100px;

}
.sun{
	border: none;
	width: 30%;
	position: absolute;
	right: 60px;
	top: 0px;

}
.trees{
	width: 20%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.trees1{
	width: 20%;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.cloud1{
	width: 40%;
	position: absolute;
	top: 200px;
	right: 10px;
}
.cloud{
	width: 40%;
	position: absolute;
	top: 50px;
	left: 10px;

}
.middle{
	background-color: white;
	position: relative;
	text-align: center;
}
.mypic{
	margin-top: 40px;
	height: 155px;
	width: 145px;
	border-radius: 100%;
}
.bottom{
	position: relative;
	text-align: center;
}
.gmail{
	width: 30px; 
	position: absolute;
	left: 530px;
	top: 55px;
}
.facebook{
	width: 30px; 
	position: absolute;
	left: 530px;
	top: 95px;
}
.linkedin{
	width: 30px; 
	position: absolute;
	left: 530px;
	top: 135px;
}
.instagram{
	width: 30px; 
	position: absolute;
	left: 530px;
	top: 175px;
}